.container.contact-container {
    width: 70%;
    display: grid;
    grid-template-columns: 34% 56%;
    gap: 10%;
    background-image: url(../../assets/about-me-bg.png);
    background-size: contain;

}

.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option {
    width: 15rem;
    text-align: center;
    padding: 1.1rem 0;
    border-radius: 1.1rem;
    margin-left: 25%;
}

.option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.option a {
    display: inline-block;
    margin-top: 0.8rem;
    font-weight: bold;
}

.dark-mode .option {
   background-color: var(--color-primary);
}

.contact-options a {
    color: var(--color-primary);
    font-weight: bolder;
}

.dark-mode .contact-options a {
    color: white;
}

.dark-mode .contact-options a:hover {
    color: black;
}
/*************** FORM ******************/

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

}

input, textarea {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    resize: none;
}

/************************** MEDIUM DEVICES *******************/

@media screen and (max-width: 1024px) {
    .container.contact-container {
        grid-template-columns: 1fr;
    }

    .contact-options {
        align-items: center;
    }

    .option {
        margin: 0;
    }
}

/************************** SMALL DEVICES *******************/

@media screen and (max-width:600px) {
        form {
            margin-top: -4rem;
        }
}