footer {
    background-color: black;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--color-primary);
}

.footer-logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: inline-block;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem; 
}

.footer-socials {   
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-socials a {
    font-size: 1.5rem;
}

.copyright {
    color: rgb(213, 210, 210);
    margin-bottom: 2rem;
}