.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
} 

.experience-container > div {
   background-image: url(../../assets/bg1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2rem 5rem;
   border-radius: 2rem;
   transition: var(--transition);
}

.experience-container > div h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}

.experience-container > div h4 {
    color: var(--color-primary);
}

.experience-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.details {
    text-align: center;
    border-radius: 5px;
    padding: 0.2rem;
}

.icon-details {
    font-size: x-large;
}

/************************** MEDIUM DEVICES *******************/

@media screen and (max-width: 1024px) {
    .experience-container {
        justify-content: end;
    }
}

/************************** SMALL DEVICES *******************/

@media screen and (max-width:600px) {
    .experience-container {
        display: flex;
        flex-direction: column;
    }
}

