nav {
    width: max-content;
    padding: 1rem 1.25rem;
    position: fixed;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    border-radius: 3rem;
    display: flex;
    gap: 0.8rem;
}

nav a {
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-primary);
    font-size: 1.2rem;
    border: 1px solid var(--color-primary); 
}

nav a:hover {
    background-color: var(--color-primary)
}

nav a.active {
    background-color: var(--color-primary);
    color: var(--color-black);
}

/************************** SMALL DEVICES *******************/

@media screen and (max-width:600px) {
    nav {
        display: none;
    }
}
